.botao {
  background: #6278f7;
  border-radius: 10px;
  mix-blend-mode: normal;

  margin-top: 1.5rem;
  height: 3.5rem;
  width: 8rem;
  
  color: #ffffff;
  cursor: pointer;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 24px;
  text-align: center;

}

.botao:hover{
    color: #95FFD4;
}
